@import url(reset.css);
header {
    background-color: #f03327;
}

h1,
h2 {
    text-align: center;
    font-size: 24px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.wrapper {
    padding-bottom: 86px;
}

.container {
    min-width: 1024px;
    max-width: 1024px;
    margin: 0 auto;
}

.logo,
.link_item,
.top-right-wrapper {
    padding-top: 23px;
    padding-bottom: 25px;
}

.logo {
    display: inline-block;
    float: left;
    position: relative;
    cursor: pointer;
    width: 200px;
}

.logo-text {
    position: absolute;
    bottom: 31px;
    left: 49px;
    font-size: 9px;
    color: #fff;
}

.link_item {
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

.link_item:hover {
    background-color: #d61f17;
}

.link_item img {
    height: 57px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 11px;
}

.link_item span {
    display: table-cell;
    vertical-align: middle;
    margin-top: 20px;
    float: right;
    white-space: nowrap;
}

.link_item.active {
    background-color: #d61f17;
}

.main_content {
    margin-top: 15px;
    /*border: 1px solid #dd0000;*/
}

.content_top {
    overflow: hidden;
}

.content_top h1 {
    float: left;
    color: #6e6e6e;
    font-weight: 500;
}

.content_top .lang_change {
    float: right;
}

.lang-change-link {
    text-decoration: underline;
    cursor: pointer;
}

.lang-change-link.active {
    color: #d61f17;
}

h1,
.lang_change {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p2p {
    /*overflow: hidden;*/
}

.card.from {
    background: url(../img/card-from-bg.png) no-repeat;
    background-size: cover;
    float: left;
}

.card.to {
    background: url(../img/card-to-bg.png) no-repeat;
    background-size: cover;
    float: left;
}

.card {
    height: 207px;
    width: 352px;
    max-height: 207px;
    max-width: 352px;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}

.card .title {
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 13px;
    padding-left: 18px;
}

.card .number {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 17px;
}

.card .label {
    font-size: 13px;
    padding-left: 9px;
    margin-bottom: 5px;
}

.card .number input {
    width: 100%;
}

.card input {
    height: 31px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    letter-spacing: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
}

.expiration_date {
    padding-left: 10px;
    padding-right: 16px;
    float: left;
}

.expiration_date .seperator {
    float: left;
    font-size: 22px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.expiration_date .current {
    text-align: left;
}

.cvv {
    padding-right: 16px;
    float: right;
}

.cvv .label {
    padding-left: 0;
    text-decoration: underline;
}

.cvv input {
    width: 75px;
}

.card .select_list {
    position: relative;
    display: inline-block;
    height: 31px;
    font-size: 18px;
    padding-left: 3px;
    padding-top: 6px;
    border: none;
    outline: none;
    color: #fff;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select_list option,
.select_location option {
    background-color: #EAEAEA;
    color: #000;
}

.styled_select {
    position: relative;
    /*overflow: hidden;*/
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.styled_select.month,
.select_list.month {
    float: left;
    width: 61px;
}

.styled_select.year,
.select_list.year {
    float: left;
    width: 75px;
}

.styled_select img {
    position: absolute;
    top: 12px;
    right: 4px;
    height: 7px;
}

.arrow-right {
    width: 27px;
    height: 207px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    background: url(../img/arrow-right.png) no-repeat;
    margin-top: 25px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.info {
    float: left;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 196px;
    text-align: center;
}

.info-title {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
}


/*.select_currency {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: #d61f17;
	color: #fff;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	padding: 2px 3px;
}*/

#ui-id-3-button {
    border: none;
    background-color: #d61f17;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 3px;
    opacity: 1;
}

#ui-id-3-button .ui-selectmenu-icon {
    background: url(../img/selector-arrow1.png) no-repeat;
    background-position: bottom center;
    background-size: 15px;
}

.select_currency option {
    background-color: #EAEAEA;
    color: #000;
}

.summ {
    display: block;
    padding-top: 3px;
    background-color: #f4f4f4;
    font-weight: 600;
    border: none;
    text-align: center;
    width: 166px;
    height: 26px;
    font-size: 20px;
    color: #d61f17;
    margin: 12px auto;
    padding: 4px 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset #bdbdbd 0px 3px 0px 0;
    -moz-box-shadow: inset #bdbdbd 0px 3px 0px 0;
    box-shadow: inset #bdbdbd 0px 3px 0px 0;
}

.red {
    color: #d61f17;
}

.red.ru {
    font-weight: bold;
    font-size: 16px;
}

.info-title,
.fee,
.total {
    color: #646464;
}

.fee,
.total {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding-left: 12px;
}

.fee span,
.total span,
.fee input,
.total input {
    font-size: 15px;
}

.clear {
    clear: both;
}

.finalize_block {
    background-color: #f03327;
    margin-top: 25px;
}

.class_checkbox {
    display: inline-block;
    cursor: pointer;
    width: 27px;
    height: 27px;
    background: url(../img/unchecked.png);
    background-position: -1px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.class_checkbox.checked {
    background: url(../img/checked.png);
    background-position: -1px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.checkbox_label {
    float: right;
    width: 100px;
}

.checkbox_label,
.phone_label,
.location_label {
    display: block;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}

.check_block {
    width: 150px;
    margin-right: 20px;
}

.check_block,
.phone_block,
.location_block {
    display: inline-block;
    float: left;
}

.phone_block {
    width: 213px;
    margin-right: 20px;
}

.phone_label {
    float: left;
    width: 65px;
}

#phoneInput,
.select_location {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 0 4px;
    margin-top: 7px;
    height: 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0;
}

.select_location {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    float: right;
    margin-top: 7px;
    width: 170px;
}

.styled_select.location {
    background: url(../img/selector-arrow1.png) no-repeat;
    background-position: right 5px center;
}

.styled_select.location img {
    top: 16px;
}

#phoneInput {
    width: 140px;
}

.finalize_block .container {
    overflow: hidden;
}

.finalize_wrapper {
    padding: 10px 0;
    overflow: hidden;
    float: left;
}

.location_block {
    width: 290px;
}

.location_label {
    float: left;
    width: 107px;
    margin-top: 7px;
}

#submitButton,
#confirmButton {
    position: relative;
    display: inline-block;
    float: right;
    width: 185px;
    height: 55px;
    font-size: 22px;
    background: url(../img/submit-button.png) no-repeat;
    padding-top: 10px;
    padding-left: 45px;
    color: #fff;
}

.instructions_block {
    padding: 37px 0;
    background: #d9d9d9;
}

.instructions {
    overflow: hidden;
}

.instruction_item {
    cursor: pointer;
    display: block;
    width: 22%;
    margin-right: 3%;
    float: left;
    padding: 15px 0;
}

.instruction_item:hover,
.instruction_item.active {
    background-color: #bebebe;
}

.instruction_item img,
.instruction_item span {
    display: block;
    margin: 0 auto;
}

.instruction_item span {
    text-align: center;
    color: #d61f17;
    text-decoration: underline;
    font-size: 15px;
}

.instruction_item img {
    margin-bottom: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.instructions_block h2 {
    color: #6e6e6e;
    font-weight: 500;
    text-align: left;
    margin-bottom: 25px;
}

.instruction_content {}

.instr_content {
    font-size: 13px;
    color: #505050;
    padding: 20px 0;
    line-height: 18px;
    min-height: 470px;
}

.instr_content h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.instr_content a {
    color: #f03327;
}

.instr_content a:hover {
    text-decoration: underline;
}

footer .container {
    margin-top: 50px;
    overflow: hidden;
}

.top-phone {
    /*float: left;*/
    margin-top: 1em;
    font-size: 14px;
    color: #de2424;
    width: 120px;
}

.top-phone img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
}

.top-phone span {
    font-size: 32px;
    font-weight: 600;
}

.cards {
    /*float: right;*/
    width: 705px;
    overflow: hidden;
    margin: 0 auto;
}

.card_item {
    float: left;
    margin-left: 20px;
}

.card_item img {
    display: block;
    margin: 0 auto;
    height: 41px;
}

.first_card {
    margin-left: 0;
}

.step {
    float: left;
    width: 36px;
    height: 36px;
    /*background: #e13b00;*/
    background: #D9DADA;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.step span {
    position: absolute;
    top: 3px;
    left: 9px;
}

.progress_bar {
    overflow: hidden;
    margin-top: 30px;
}

.step.one {
    margin-right: 5px;
}

.bar {
    width: 444px;
    height: 7px;
    margin-top: 15px;
    float: left;
}

.bar.one {
    /*background: #e13b00;*/
    background: url(../img/bar_grey.png);
}

.step.two {
    margin-left: -1px;
}

.bar.two {
    background: url(../img/bar_grey.png);
}

.step.three {}

.verify_number {
    letter-spacing: 3px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 31px;
    font-weight: 500;
}

.verify_date {
    position: relative;
    display: inline-block;
    line-height: 31px;
    font-size: 22px;
    padding-left: 3px;
    float: left;
}

.verify_date.month {
    padding-left: 9px;
}

.verify_code {
    line-height: 31px;
    font-size: 22px;
    text-align: center;
}

.number.to {
    padding-top: 18px;
}

.verify_summ {
    padding-top: 3px;
    background-color: #f4f4f4;
    font-weight: 600;
    text-align: center;
    width: 166px;
    height: 26px;
    font-size: 20px;
    color: #d61f17;
    margin: 12px auto;
    padding: 4px 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset #bdbdbd 0px 3px 0px 0;
    -moz-box-shadow: inset #bdbdbd 0px 3px 0px 0;
    box-shadow: inset #bdbdbd 0px 3px 0px 0;
}

#backButton {
    width: 185px;
    height: 55px;
    background: url(../img/back-button.png) no-repeat;
}

#returnButton {
    width: 250px;
    height: 55px;
    background: url(../img/return-button.png) no-repeat;
}

#backButton,
#returnButton {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 45px;
    color: #fff;
}

#backButton span,
#submitButton span,
#confirmButton span,
#returnButton span {
    position: absolute;
    top: 16px;
}

#backButton span {
    left: 75px;
}

#submitButton span,
#confirmButton span {
    left: 40px;
}

.top-right-wrapper {
    float: right;
}

.top-right-wrapper .top-phone {
    float: right;
    font-size: 14px;
    color: #fff;
    width: 120px;
}

.top-right-wrapper .top-phone img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
}

.top-right-wrapper .top-phone span {
    font-size: 32px;
    font-weight: 600;
}

.top-right-wrapper .lang-change {
    font-size: 15px;
    float: right;
    margin-right: 35px;
    margin-top: 15px;
    color: #fff;
}

.top-right-wrapper .lang-change-link {
    cursor: pointer;
    text-decoration: underline;
}

.top-right-wrapper .active {
    color: #000;
}

.ticked {
    display: block;
    float: left;
    margin-right: 5px;
}

.left_col {
    text-align: right;
    padding: 10px 30px;
    font-size: 13px;
    color: #646464;
}

.right_col {
    color: #000;
    font-size: 13px;
}

.arrow-mobile {
    display: none;
    height: 30px;
    background: url(../img/arrow-down-card.png) no-repeat;
    background-size: contain;
    background-position: center center;
    margin-top: 25px;
}

#submitButton img,
#returnButton img,
#backButton img,
#confirmButton img {
    display: none;
}

.complete_title {
    overflow: hidden;
}

.print {
    display: inline-block;
    height: 100%;
    width: 133px;
    margin-top: 5px;
    margin-left: 130px;
}

.print span {
    font-size: 14px;
    padding-left: 2px;
    color: #fff;
    text-decoration: underline;
}

.print_wrapper {
    display: inline-block;
}

input#fullname:focus + #tooltipFullname {
    display: block;
}

input#sendercard:focus + #tooltipSenderCard {
    display: block;
}

#tooltipFullname {
    top: 112px;
    width: 174px;
    padding: 3px 12px;
}

#tooltipFullname:before {
    border-width: 6px 6px 0 6px;
    bottom: -6px;
    left: 87px;
}

.tooltip {
    display: none;
    font-size: 13px;
    position: absolute;
    top: -5px;
    right: -9px;
    width: 152px;
    padding: 10px 12px;
    background: rgba(182, 205, 223, 0.7);
    color: #444444;
    z-index: 1000;
}

.tooltip:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: block;
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(182, 205, 223, 0.7);
    ;
    position: absolute;
    bottom: -15px;
    left: 69px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.cvv .label {
    cursor: pointer;
}

.dogovor {
    color: #fff;
    text-decoration: underline;
}

.cvv_popup {
    position: fixed;
    width: 665px;
    margin-left: -340px;
    top: 115px;
    background-color: #fff;
    padding: 18px 10px 23px 38px;
    left: 50%;
    z-index: 33333;
    box-sizing: border-box;
    display: none;
}

.popup_agreement {
    position: fixed;
    width: 883px;
    margin-left: -437px;
    top: 115px;
    background-color: #fff;
    padding: 18px 10px 23px 64px;
    left: 50%;
    z-index: 33333;
    box-sizing: border-box;
    display: none;
}

.popup_lookup {
    position: fixed;
    width: 883px;
    margin-left: -437px;
    top: 115px;
    background-color: #fff;
    padding: 18px 10px 23px 64px;
    left: 50%;
    z-index: 33333;
    box-sizing: border-box;
    display: none;
}

.agreement_button_block {
    text-align: right;
    padding: 2em 8px 0;
}

.close_popup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 34px;
    height: 34px;
    background-image: url(../img/close_popup.png);
}

button.agree {
    background: #D61F17;
    border: none;
    color: #FFF;
    font-size: 15px;
    padding: .4em 1em;
    font-family: 'Open Sans';
    cursor: pointer;
}

.agree_header {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #d61f17;
    line-height: 1.2em;
    margin-top: 13px;
}

.agree_sub_header {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1em;
    color: #d61f17;
}

.popup_agreement {
    font-size: 12px;
    color: #787878;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.popup_agreement p,
.popup_lookup p {
    margin-bottom: 1.34em;
}

.popup_lookup h1 {
    font-size: 17px;
}

.popup_lookup .agree_header {
    margin-right: 1em;
}

.popup_lookup input.summ {
    display: inline-block;
    text-align: left;
}

.continue {
    float: right;
    padding: 5px 19px;
    font-size: 16px;
    color: #FFF;
    border: none;
    background: #F73021;
    border-radius: 3px;
    margin-right: 5em;
    margin-top: 8px;
}

.cvv_img {
    text-align: center;
    margin: 2.8em 0;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #000;
    opacity: 0.3;
    z-index: 10000;
}


/* jsp vertical bar */

.scroll-pane {
    width: 100%;
    height: 458px;
    overflow: auto;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

.jspCap {
    display: none;
}

.jspTrack {
    background: #cacaca;
    position: relative;
    width: 3px;
}

.jspDrag {
    background: #dd2f2f;
    position: relative;
    top: 0;
    left: -3px;
    cursor: pointer;
    width: 10px;
}

.jspPane {
    position: absolute;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.alfa {
    font-size: 14px;
    padding-left: 18px;
}

.list {
    list-style: initial;
    padding-left: 19px;
    margin-bottom: 1.34em;
}

#totalFee {
    font-weight: bold;
}

#totalSum {
    font-weight: bold;
}


/* Input placeholder color */

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
}

:placeholder-shown {
    color: #fff;
}

.red.inp {
    display: inline;
    width: 1em;
    text-align: center;
    background: transparent;
    border: none;
}

.footer-row {
    margin-top: 1em;
    line-height: 1.5em;
    font-size: 13px;
    /*float: left;*/
}

.footer-row div {
    display: inline-block;
    vertical-align: top;
}

.contacts a {
    text-decoration: underline;
}

.contacts p {
    margin-top: .4em;
}

.contacts {
    /*float: left;*/
    width: 35%;
}

.copyright {
    /*float: left;*/
    width: 30%;
}

.footer-links {
    /*float: left;*/
    width: 35%;
}

.pdf-block {
    display: inline-block;
    vertical-align: top;
}

.pdf-block a {
    margin-left: 2em;
}

input#fullname:focus + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#fullname {
    text-transform: uppercase;
}

.col2 {
    width: 50%;
    display: inline-block;
    padding: 2px 4px;
    box-sizing: border-box;
}

.card input.nameReceiver {
    font-size: 18px;
}

.fee,
.total {
    text-align: center;
}

.container .link_item:last-child {
    float: right;
}

.container .link_item:last-child span {
    line-height: 1.3em;
    margin-top: 10px;
}

.instr_content{
    line-height: 21px;
}

@media all and (max-width: 767px) {
    .footer-links {
        display: none!important;
    }
    .container .link_item:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    .container .link_item:last-child span {
        margin-top: 3px;
    }
    .scroll-pane {
        height: 380px!important;
    }
    .popup.popup_agreement {
        padding: 10px!important;
    }
    .cvv_img img {
        width: 100%;
    }
    .popup.cvv_popup {
        top: 200px;
    }
    .popup {
        width: 100%;
        margin: 0px;
        position: absolute;
        left: 0px;
    }
    .wrapper {
        padding-bottom: 0;
    }
    .logo {
        width: 134px;
    }
    .logo-text {
        left: 34px;
    }
    .container {
        min-width: 290px;
        max-width: 100%;
    }
    header .container {
        padding-left: 15px;
    }
    .logo img,
    .link_item img,
    .instruction_item img {
        height: 40px;
    }
    .p2p_link {
        display: none;
    }
    .link_item span {
        height: 40px;
    }
    .main_content {
        padding-left: 8px;
        padding-right: 8px;
    }
    .card {
        width: 100%;
    }
    .card.from,
    .card.to,
    .info {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .hide-small {
        display: none!important;
    }
    .info {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .info .summ,
    .info .verify_summ {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .summ {
        height: 38px;
    }
    .summ,
    .verify_summ {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #dadada;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .top-phone,
    .cards {
        float: none;
    }
    .visible-small {
        display: block!important;
    }
    .finalize_block {
        /*background-color: #fff;*/
        margin-top: 0;
        text-align: center;
    }
    .finalize_wrapper{
		background: #FFF;
    }
    .check_block,
    .phone_block,
    .location_block {
        width: 315px;
        margin-right: 0;
        margin-top: 10px;
        padding-left: 15px;
    }
    .location_block{
    	text-align: left;
    }
    .checkbox_label,
    .phone_label,
    .location_label {
        color: #646464;
        width: initial;
        margin-top: 7px;
    }
    #phoneInput,
    .select_location,
    #ui-id-4-button {
        background-color: rgba(192, 192, 192, 0.3);
        color: #6e6e6e;
        font-size: 16px;
        font-weight: 500;
        padding: 0 4px;
        margin-top: 0;
        height: 30px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #phoneInput,
    .styled_select {
        float: right;
    }
    .styled_select.location {
        background: url(../img/arrow-down-grey.png) no-repeat;
        background-position: 144px 11px;
        background-size: 22px;
        float: none;
        margin-left: 9%;
    }
    #phoneInput::-webkit-input-placeholder {
        color: #646464;
    }
    #phoneInput:-moz-placeholder {
        color: #646464;
        opacity: 1;
    }
    #phoneInput::-moz-placeholder {
        color: #646464;
        opacity: 1;
    }
    #phoneInput:-ms-input-placeholder {
        color: #646464;
    }
    #phoneInput:placeholder-shown {
        color: #646464;
    }
    #submitButton,
    #returnButton,
    #backButton,
    #confirmButton {
        /*position: relative;
        width: 100%;
        float: none;
        background: #f03327;
        padding: 15px 15px 15px 45px;
        height: 28px*/
        text-align: left;
        float: none;
    }
    /*#submitButton img,
    #confirmButton img {
        position: absolute;
        height: 100%;
        right: 75px;
        top: 0;
        display: inline;
    }*/
    #returnButton img,
    #backButton img {
        position: absolute;
        height: 100%;
        left: 15px;
        top: 0;
        display: inline;
    }
    .instructions_block {
        padding-left: 15px;
        padding-right: 15px;
        background: #fff;
    }
    .instruction_item {
        width: 100%;
        float: none;
        margin-right: 0;
        overflow: hidden;
    }
    .instruction_item img {
        margin: 0;
        float: left;
    }
    .instruction_item span {
        float: left;
        margin-left: 25px;
        margin-top: 10px;
    }
    .cards {
        width: 330px;
        margin: 0 auto 30px;
    }
    .card_item {
        margin-left: 8px;
    }
    .card_item img {
        height: 20px;
    }
    .first_card {
        margin-left: 0;
    }
    footer .container {
        margin-top: 0;
        padding-bottom: 30px;
        padding-top: 25px;
        background: #d9d9d9;
    }
    .top-phone {
        margin: 0 auto;
    }
    .arrow-mobile,
    .card,
    .info {
        margin-top: 15px;
    }
    .complete_title .ticked,
    .complete_title h1 {
        float: left;
    }
    .complete_title .ticked {
        width: 34px;
    }
    .print {
        margin-left: 0;
        background: #f03327;
    }
    .print_wrapper {
        display: block;
        background: #f03327;
        text-align: center;
    }
    .dogovor {
        color: #f03327;
    }
    .footer-row {
        text-align: center;
    }
    .footer-row div {
        width: 100%;
        margin-bottom: 1em;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .print {
        margin-left: 40px;
    }
    .arrow-right {
        margin-left: 3px;
        margin-right: 4px;
    }
    .popup {
        width: 100%;
        margin: 0px;
        left: 0px;
    }
    .container {
        min-width: 700px;
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .hide-md {
        display: none;
    }
    .p2p {
        width: 738px;
        margin: 0 auto;
    }
    .info {
        padding: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 310px;
    }
    .clearfix {
        clear: both;
    }
    .info-title,
    .select_currency {
        margin: 0;
    }
    .info-title {
        float: left;
        padding: 0;
        margin-bottom: 12px;
    }
    .select_currency {
        float: right;
        margin-bottom: 12px;
    }
    .top-phone,
    .cards {
        float: none;
    }
    .card_item {
        margin-left: 8px;
    }
    .first_card {
        margin-left: 0;
    }
    .top-phone {
        margin: 25px auto 0;
    }
    .summ,
    .verify_summ {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #dadada;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .summ {
        margin-left: 57px;
        margin-right: 57px;
    }
    .logo {
        width: 166px;
    }
    .link_item {
        padding-left: 0;
        padding-right: 0;
    }
    header .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 560px) {
    .container .link_item:last-child {
        float: none;
        padding-bottom: 20px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .link_item {
        padding-bottom: 5px;
    }
}

@media all and (max-width: 350px) {
    .card.to .number:nth-child(2) {
        margin-bottom: 3px!important;
    }
    .select_list.month {
        width: 61px;
    }
    .select_list.year {
        width: 74px;
    }
    .card .title {
        margin-bottom: 15px;
    }
    .card {
        height: 177px;
    }
    .check_block,
    .phone_block,
    .location_block {
        width: 290px;
    }
    .phone_label,
    .location_label {
        width: 120px;
        margin-top: 0;
    }
    .cards {
        width: 290px;
        margin: 0 auto 30px;
    }
    .card_item {
        margin-left: 6px;
    }
    .first_card {
        margin-left: 0;
    }
    .card_item img {
        height: 18px;
    }
    .card input,
    .verify_number {
        font-size: 20px;
    }
    .popup {
        width: 100%;
        margin: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
